{% extends "base.html.twig" %}

{% block body %}

	<h1>{{ car.name }}</h1>
	<h2>{{ car.price }}
		€</h2>
	<p>{{ car.description }}</p>
	{% if car.reservation %}

		<p>{{ car.reservation }}</p>

	{% endif %}

	<form action="{{ path('reservation_car', {'id' : car.id }) }}" method="post">
		<label for="reservation">Réserver</label>
		<textarea name="reservation" id="reservation" cols="30" rows="10"></textarea>
		<input type="submit" value="Réserver">
	</form>

{% endblock %}
